 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --main-background-color: hsl(215, 91%, 91%);
  --card-background-color: rgb(255, 255, 255);
  --text-color: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--main-background-color);
  height: calc(100vh - 20px);
}

.container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-qr {
  width: 30%;
  background-color: var(--card-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  text-align: center;
}

.card-qr img {
  max-width: 90%;
  border-radius: 15px;
  margin: 16px 0;
}

.card-qr h1,
.card-qr p {
  font-size: 15px;
  max-width: 90%;
  color: var(--text-color);
}

.card-qr h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0;
}

.card-qr p{
    margin: 8px 0px 32px 0px;

}

.attribution {
    font-size: 11px;
    text-align: center;
    height: 20px;

  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media only screen and (max-width: 340px) {
  .card-qr {
    width: 90%;
    height: 480px;
  }
}
